body {
  background-color: #dee1d6;
  font-size: 8vh;
  font-family: 'Roboto', sans-serif;
}

/*-----Klassen----*/


/* (A) WRAPPER 
#hamnav {
    width: 100%;
    background: #000;
    position: sticky;
    top: 0;  
}*/

/* MENU */
#hamitems {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  margin: 20px;

}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#hamitems a:hover {
  background: #ea606000;
}

/* HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}