body {
  background-color: #dee1d6;
  font-size: 8vh;
  font-family: 'Roboto', sans-serif;
}

/*-----Classes----*/

/* DROPDOWNMENU */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: black;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #ed147f;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #a0a09f;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #00b2a2;
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 60px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #dee1d6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

/* MENU */
#menuitems {
  display: grid;
  grid-template-rows: 2 auto;
  grid-template-columns: 4 auto;
  grid-auto-flow: column;
  margin: 20px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  gap: 200px;
}

#menuitems a {
  padding: 10px;
  text-align: center;
}

#menuitems a:hover {
  text-decoration: none;
}

/* grid area: row start / column start / row ende / column ende */

.tag1 {
  grid-area: 1 / 1 / 1 / 1;
  color: white;
}

.tag1:hover {
  background-color: #ed147f;
}

.tag2 {
  grid-area: 1 / 2 / 1 / 2;
  color: white;
}

.tag2:hover {
  background-color: black;
}

.tag3 {
  grid-area: 1 / 3 / 2 / 3;
  color: white;
}

.tag3:hover {
  background-color: #00b2a2;
}

.tag4 {
  grid-area: 1 / 4 / 2 / 4;
  color: white;
  background-color: #dee1d6;
  z-index: 2;
  position: relative;
}

.tag4 span {
  position: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
  z-index: 2;
  text-decoration: underline;
  white-space: nowrap;
}

.tag4::after {
  opacity: 0;
  content: "Sprint 1";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  color: white;
  transition: all 0.2s ease-in;
  color: #ed147f;
  white-space: nowrap;
}

.tag4:hover::after {
  opacity: 1;
}

.tag4:hover span {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: translateX(-100px) translateY(-100px);
  transition: 0.3s;
  z-index: 2;
  text-decoration: none;
}

.tag5 {
  grid-area: 2 / 1 / 2 / 1;
  color: white;
}

.tag5:hover {
  background-color: black;
}

.tag6 {
  grid-area: 2 / 2 / 2 / 2;
  color: white;
}

.tag6:hover {
  background-color: #00b2a2;
}

.tag7 {
  grid-area: 2 / 3 / 2 / 3;
  color: white;
}

.tag7:hover {
  background-color: #ed147f;
}

.tag8 {
  grid-area: 2 / 4 / 2 / 4;
  color: white;
  background-color: #dee1d6;
  z-index: 2;
  position: relative;
}

.tag8 span {
  position: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
  z-index: 2;
  text-decoration: underline;
  white-space: nowrap;
}

.tag8::after {
  opacity: 0;
  content: "Sprint 2";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  color: white;
  transition: all 0.2s ease-in;
  color: #00b2a2;
  white-space: nowrap;
}

.tag8:hover::after {
  opacity: 1;
}

.tag8:hover span {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: translateX(-100px) translateY(-100px);
  transition: 0.3s;
  z-index: 2;
  text-decoration: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 480px) {
  body {
    background-color: #211e29;
    margin-top: auto;
    margin-left: auto;
  }

  h1 {
    color: white;
    font-size: 12vh;
    letter-spacing: -1vh;
    margin-top: auto;
    margin-left: auto;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    color: white;
  }

  #menuToggle a:hover {
    color: #12eb80;
  }

  #menuToggle span {
    width: 33px;
    height: 3px;
    background: #a0a09f;
  }

  #menuToggle input:checked~span {
    background: #ff4d5d;
  }

  #menu {
    margin: 0.2rem;
    padding: 10px;
    background: #211e29;
  }

  #textbox00 {
    transform: translateY(90%);
  }

  #textbox01 {
    transform: translateY(90%);
  }

  #menuitems {
    display: grid;
    grid-template-columns: 1 auto;
    grid-auto-flow: row;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
  }

  .tag1 {
    grid-area: 1 / 1 / 1 / 1;
  }

  .tag2 {
    grid-area: 2 / 1 / 2 / 1;
  }

  .tag3 {
    grid-area: 3 / 1 / 3 / 1;
  }

  .tag4 {
    grid-area: 4 / 1 / 4 / 1;
    background-color: transparent;
  }

  .tag5 {
    grid-area: 5 / 1 / 5 / 1;
  }

  .tag6 {
    grid-area: 6 / 1 / 6 / 1;
  }

  .tag7 {
    grid-area: 7 / 1 / 7 / 1;
  }

  .tag8 {
    grid-area: 8 / 1 / 8 / 1;
    background-color: transparent;
  }
}